/*CUSTOM CSS*/
html, body {overflow-x: hidden;}
.post, .page {margin: 0;}
body {font-family: "Ubuntu",sans-serif; font-size: 16px; -webkit-font-smoothing: antialiased;}
a, a:hover {text-decoration: none;}
/* .site-branding img.custom-logo {
    height: 40px;
    width: auto;
    margin-top: 4px;
} */
/* header#masthead {
    padding-top: 35px;
    padding-bottom: 20px;
    transition: .5s;
    background: #ffffff;
    position: relative;
    z-index: 99999;
} */
/* header#masthead.sticky {
	padding-top: 20px;
	padding-bottom: 15px;
	position: fixed;
	width: 100%;
  border-bottom: 1px solid #ececec;
} */
/* header#masthead.sticky .site-branding img.custom-logo {
	height: 30px;
} */
header#masthead.sticky nav#site-navigation ul, header#masthead.sticky .slot-book,
header#masthead.sticky .lang-switch {
	line-height: 38px;
}
nav#site-navigation {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
nav#site-navigation ul {
	margin: 0;
	line-height: 55px;
}
/* nav#site-navigation ul li {
	padding: 0 20px;
}
nav#site-navigation ul li:first-child {padding-left: 0;}
nav#site-navigation ul li:last-child {padding-right: 0;} */
nav#site-navigation ul li a {
	color: rgb(50,51,72);
	font-size: 14px;
}
#masthead .col-md-3, #masthead .col-md-6 {
    padding: 0;
}
.lang-switch {
    float: right;
    line-height: 55px;
    margin-right: 35px;
}
.lang-switch a {
    color: black;
    font-size: 14px;
    font-weight: 400;
}
.lang-switch a.active {
	color: rgb(228,35,32);
	font-weight: 900;
}
.lang-switch span {
    font-size: 16px;
    padding: 0 5px;
    color: rgb(51,51,72);
}
.slot-book {
    float: right;
    line-height: 55px;
}
.slot-book a {
	color: rgb(51,51,72);
	font-size: 14px;
}
.slot-book span {
    font-weight: 500;
    padding-right: 5px;
}

/*HOMEPAGE CSS*/
div#hero {
	background: rgb(177,177,177);
	height: 86vh;
	position: relative;
}
.caption-top {
    position: absolute;
    top: 20%;
    max-width: 850px;
    width: 70%;
    font-size: 23px;
    color: #fff;
    font-weight: 400;
    padding-left: 30px;
}
.caption-top::before {
    content: " ";
    width: 10px;
    height: 120%;
    top: -10%;
    float: left;
    background: #ff0000;
    display: block;
    position: absolute;
    left: -5px;
}
.caption-bottom {
	position: absolute;
	bottom: -1%;
	left: -1%;
	width: 100%;
}
.caption-bottom img {
    width: 75%;
}
div#scroll-down {
    cursor: pointer;
}
div#scroll-up {
    padding-top: 100px;
    padding-bottom: 0;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.home-block {
	padding: 0;
	height: 380px;
	margin-bottom: 35px;
	position: relative;
}
.home-block .inner {
	padding: 65px 65px;
	position: relative;
}
.col1 {
	padding-right: 20px;
}
.col2 {
	padding-left: 20px;
}
.home-block h3 {
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    width: 100%;
    font-weight: 400;
}
.home-block p {
    color: #fff;
    font-size: 19px;
    line-height: 26px;
    width: 57%;
    position: absolute;
    top: 50%;
    left: 75px;
    transform: translateY(-50%);

}
.home-block a {
    position: absolute;
    bottom: 65px;
    right: 100px;
}
.home-block a img {
    height: 38px;
}
.home-block h2 {
	color: rgb(51,51,72);
	font-size: 42px;
	font-weight: 400;
	text-align: left;
}
img.link-legend {
    float: left;
    height: 120px;
    position: absolute;
    bottom: 65px;
    left: 75px;
}
img.link-route {
    position: absolute;
    right: 60px;
    top: 50px;
    height: 291px;
}
.button-area {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0);
    height: 90px;
    text-align: center;
    padding-top: 12px;
  padding-left: 75px;
  padding-right: 75px;
}
.button-area a, .home-block a.btn {
    float: right;
    bottom: 45px;
    padding: 0;
}
.button-area a span, .home-block a.btn span {
    font-size: 21px;
    color: #fff;
    float: left;
}
.button-area a img, .home-block a.btn img {
    position: absolute;
    z-index: 999;
    width: auto;
    height: 38px;
    display: block;
    float: left;
    right: -35px;
    top: -15px;
}
ul.slider-nav {
    float: left;
    position: relative;
}
.button-area .slider-nav a {
    width: 10px;
    height: 10px;
    border: 1px solid rgba(231, 231, 232, 1);
    display: inline-block;
    float: left;
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: 20px;
}
.button-area .slider-nav a.active {background: rgba(231, 231, 232, 1);}
.st-links {
    margin-top: 13px;
    float: left;
    width: 100%;
}
.home .nav-pills li.active a {
    background: #ff0000;
}
.home .nav-pills li a {
    border-radius: 0;
    padding: 33px;
    background: rgb(51,51,72);
    margin-right: 10px;
    color: #fff;
    font-size: 21px;
}
.home .nav-pills li:last-child a {
    margin-right: 0;
}
.home .panel-body {padding: 0;}
.tab-content {
    width: 100%;
    margin-top: 120px;
    position: relative;
    float: left;
}
.tab-content>.tab-pane {
    float: left;
    width: 100%;
    height: 380px;
}
.tab-pane span.red {color: rgb(251,0,0);}

.rightcol {
    padding-right: 0;
    padding-left: 30px;
    position: relative;
    height: 380px;
}
.rightcol a.btn-wrap {
    position: absolute;
    bottom: auto;
    display: block;
    bottom: 10px;
}
.rightcol a.btn-wrap span {
    color: #333348;
    font-size: 21px;
    font-weight: 600;
}
.rightcol a.btn-wrap img {
    height: 33px;
}
.leftcol {
    padding-left: 0;
    padding-right: 20px;
}
.tab-content h3 {
    font-size: 42px;
    font-weight: 400;
    color: rgb(255,0,0);
    margin-top: 20px;
    margin-bottom: 10px;
}
.tab-content p {
    font-size: 42px;
    font-weight: 400;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 10px;
}
#scroll-down img {
    display: none;
}
#scroll-down {
    position: relative;
    position: absolute;
    bottom: 75px;
    left: 50%;
    width: 45px;
    height: 45px;
    transform: translateX(-50%);
}
#scroll-down:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 10px solid rgba(251, 251, 251, 1);
  border-bottom: 10px solid rgba(251, 251, 251, 1);
  transform: translate(10px, 15px) rotate(-45deg);
  animation: arrows 3s linear infinite;
  margin-top: 20px;
}
#scroll-down:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 10px solid rgba(251, 251, 251, 1);
  border-bottom: 10px solid rgba(251, 251, 251, 1);
  transform: translate(3.3333333333px, 0px) rotate(-45deg);
  animation: arrows 3s linear infinite -1.5s;
}

@keyframes arrows {
  0% {
    border-left: 10px solid rgba(251, 251, 251, 0);
    border-bottom: 10px solid rgba(251, 251, 251, 0);
    transform: translate(-3.3333333333px, -13.3333333333px) rotate(-45deg);
  }
  10%, 90% {
    border-left: 10px solid rgba(251, 251, 251, 0);
    border-bottom: 10px solid rgba(251, 251, 251, 0);
  }
  50% {
    border-left: 10px solid rgba(251, 251, 251, 0.9);
    border-bottom: 10px solid rgba(251, 251, 251, 0.9);
    transform: translate(-3.3333333333px, 0px) rotate(-45deg);
  }
  100% {
    border-left: 10px solid rgba(251, 251, 251, 0);
    border-bottom: 10px solid rgba(251, 251, 251, 0);
    transform: translate(-3.3333333333px, 13.3333333333px) rotate(-45deg);
  }
}



/*FOOTER*/
footer#colophon {
    background: #000;
    padding-top: 41px;
    padding-bottom: 41px;
    margin-top: 200px;
    text-align: center;
}
footer#colophon ul li:after {
	content: "|";
	color: #fff;
    display: inline-block;
    padding-left: 13px;
}
footer#colophon ul li:last-child::after {
	display: none;
}
footer#colophon ul li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
footer#colophon .mobile-copy {display: none;}
.socmed {
	margin-top: 40px;
}
.socmed a img {
    height: 28px;
    width: auto;
    margin-right: 22px;
}

#site-navigation ul li a:hover {
    color: rgb(251,0,0);
}
#main article.page .entry-content .description {font-weight: 400;}


/*NEWS PAGE*/
.page-template-tpl_news .page-header {
    background-image: url(http://charlesallandev.com/swissterminal/wp-content/uploads/2019/09/news-bg-big.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: none;
}
.page-template-tpl_news {font-family: 'Ubuntu',sans-serif; }
.search-area {
    display: block;
    float: left;
    width: 100%;
}
.search-area .pull-left {
    width: 70%;
    position: relative;
}
.search-area label {
    float: left;
    width: 70%;
}
.search-area form input.search-field {
    height: 82px;
    border: 3px solid #333348;
    border-radius: 0;
    width: 100%;
    font-size: 21px;
    display: inline-block;
    float: left;
    max-width: none;
    font-family: 'Ubuntu';
    padding-left: 90px;
}
.search-area form input.search-field::placeholder {
	font-size: 21px;
	color: #333348;
}
.search-area form label::before {
    content: " ";
    background: url(http://charlesallandev.com/swissterminal/wp-content/themes/swissterminal_2019/images/search-icon-2x.png);
    width: 30px;
    float: left;
    height: 30px;
    display: block;
    position: absolute;
    top: 27px;
    left: 30px;
}
input.search-submit {
    height: 82px;
    border-radius: 0;
    background-color: #333348;
    border-color: #333348;
    color: #fff;
    width: 247px;
    font-size: 23px;
    float: left;
    margin-left: -4px;
    line-height: 55px;
    font-family: 'Ubuntu';
}
a#goodnews-btn {
    background: #f50e02;
    color: #fff;
    font-size: 23px;
    padding: 20px 30px;
    height: 82px;
    float: right;
    display: block;
    line-height: 41px;
    font-family: 'Ubuntu',sans-serif;
}
.page-template-tpl_news #page-inner .page-content {
    margin-top: 130px;
}
.search-filters {
    float: left;
    width: 100%;
    margin-top: 105px;
    margin-bottom: 105px;
}
.search-filters ul li {
    width: 12.5%;
    float: left;
    margin-bottom: 20px;
}
.search-filters ul li:nth-child(8) {
    padding-right: 0;
}
.search-filters a {
    display: inline-block;
    width: 100%;
    padding: 20px 30px;
    text-align: center;
    background: #ECECEC;
    color: #343348;
}
.page-template-tpl_news article {
    margin-bottom: 70px;
}
.post-thumbnail {
    height: 280px;
    overflow: hidden;
}
.title-wrap {
    margin-top: 20px;
    display: block;
}
.title-wrap h4 span.pull-left {
    font-size: 19px;
}
.title-wrap h2 {
    font-size: 42px;
    margin-top: 20px;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    color: #333348;
    font-weight: 400;
}
.page-template-tpl_news a {
	color: #333348;
	text-decoration: none;
}
.page-template-tpl_news .entry-content {
    display: block;
    float: left;
    margin-top: 0;
    width: 100%;
}
.page-template-tpl_news .entry-content p {
    font-size: 19px;
    text-align: left;
    margin-bottom: 0;
    line-height: 25px;
    letter-spacing: 0.01em;
}
.news-pagination {
    float: left;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 130px;
}
.news-pagination span.page-numbers.current {
    font-size: 42px;
    padding: 0 10px;
    color: #f50e02;
}
.news-pagination a {
    font-size: 42px;
    color: #333348;
    padding: 0 10px;
}
.page-template-tpl_news article:nth-child(odd) {
    padding-left: 0;
    padding-right: 30px;
}
.page-template-tpl_news article:nth-child(even) {
    padding-right: 0;
    padding-left: 30px;
}
img.nextbtn, img.prevbtn {
    height: 42px;
    vertical-align: middle;
}
.pagination-inner {
    max-width: 50%;
    margin: auto;
}
a.prev.page-numbers {
    float: left;
}

a.next.page-numbers {
    float: right;
}


/*NEWS PAGE END*/

@media screen and (min-width: 1025px){
#primary-menu > li > ul.sub-menu {
    padding-top: 60px;
    padding-bottom: 80px!important;
}
nav#site-navigation ul#mobile-primary-menu>li>ul.sub-menu>li>a, nav#site-navigation ul#primary-menu>li>ul.sub-menu>li>a {
  font-size: 23px!important;
}
nav#site-navigation ul.sub-menu li a {
    font-size: 19px!important;
}
nav#site-navigation ul#mobile-primary-menu>li>ul.sub-menu>li.description>span, nav#site-navigation ul#primary-menu>li>ul.sub-menu>li.description>span {
    font-size: 42px!important;
    padding-left: 20px!important;
    max-width: 80%;
    font-weight: 400!important;
    margin-top: 100px!important;
        border-left: 10px solid red!important;
}
nav#site-navigation #primary-menu > li {
    float: none!important;
}
nav#site-navigation ul#mobile-primary-menu>li:hover>a, nav#site-navigation ul#primary-menu>li:hover>a {color: rgb(255,0,0)!important;}
nav#site-navigation ul#mobile-primary-menu>li>ul.sub-menu>li ul.sub-menu li>a, nav#site-navigation ul#primary-menu>li>ul.sub-menu>li ul.sub-menu li>a {
    padding: 15px 0!important;
}
.caption-top p strong {
    font-weight: 700!important;
    margin-bottom: 10px!important;
    display: block;
}

}

/*DROPDOWN MENU*/
@media screen and (min-width: 1101px){

/*#site-navigation ul ul ul.sub-menu li {
    position: relative;
    z-index: -1!important;
}*/



  .panel-heading {
    display: none;
  }
  .panel {
    border: none;
    box-shadow: none;
  }
  .panel-collapse {
    height: auto;
  }
  .panel-collapse.collapse {
    display: block;
  }
}
/*CONTAINER WIDTHS*/
@media screen and (min-width: 1921px){
	/* header .container {
		width: 100%;
		padding-left: 200px;
		padding-right: 200px;
	} */
  .rightcol a.btn-wrap {
    margin-top: 10%;
  }
	#content .container {
		max-width: 1850px;
		width: 100%;
		padding: 0;
	}
	body, .lang-switch a, .slot-book a {font-size: 18px;}
	/* nav#site-navigation ul li {
	    padding: 0 3.8%;
	} */
	div#hero {
	    background: rgb(177,177,177);
	    height: 91vh;
	    position: relative;
	}
  section.home-block-wrapper {
    display: table;
    width: 100%;
    float: left;
    height: 79vh;
  }
  .home-block-inner {
    display: table-cell;
    vertical-align: middle;
  }
.home-block {height: 420px;}
/* nav#site-navigation ul ul {width: 340px;} */
}
@media screen and (min-width: 1900px) and (max-width: 1920px){
	div#hero {
	    background: rgb(177,177,177);
 	    height: 86vh;
	    position: relative;
	}
  .home-block {height: 350px;}
  .st-links {margin-top: 0; }
}
@media screen and (max-width: 1920px){
	/* header .container {
		width: 100%;
		padding-left: 130px;
		padding-right: 130px;
	} */
	#content .container {
		max-width: 1680px;
		width: 100%;
		padding: 0;
	}
  div#scroll-up {padding-bottom: 30px; padding-top: 30px;}
  section.home-block-wrapper {
    margin-top: 30px;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1800px){
	/* header .container {
		width: 100%;
		padding-left: 120px;
		padding-right: 120px;
	} */
	#content .container {
		max-width: 1170px;
		width: 100%;
		padding: 0;
	}
  .home-block {height: 340px;}
  .st-links {margin-top: 25px;}
    .home-block h3{
    font-size: 36px;
    line-height: 40px;
  }
  .home-block .inner {padding: 55px 45px; }
  .home-block p {left: 55px; bottom: 45px;}
  .home-block p {
    color: #fff;
    font-size: 19px;
    line-height: 26px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translateY(-50%);
}
img.link-route {height: 60%; width: auto; right: 30px;}
img.link-legend {height: 25%;width: auto;}
  div#scroll-up {
    padding-top: 40px;
    padding-bottom: 20px;
}
#scroll-up img {
	width: 36px;
}
.st-links {margin-top: 0; }
.home .nav-pills li a {font-size: 18px;}
.tab-content p {font-size: 35px; width: 95%;}
}
@media screen and (max-width: 1440px){
	/* header .container {
		width: 100%;
		padding-left: 120px;
		padding-right: 120px;
	} */
	#hero {height: 84vh;}
	#content .container {
		max-width: 1200px;
		width: 100%;
	}
  .home-block p {
    left: 0;
    bottom: auto;
    position: relative;
    width: 100%;
    top: 40%;
  }
  col1.home-block a.btn {
      right: 55px;
      bottom: 25px;
  }
  ul.slider-nav.list-inline.list-unstyled {
    margin-top: 28px;
}
.button-area {
    padding-left: 45px;
    padding-right: 45px;
}
  .home-block h3 {width: 80%;}
  .tab-content h3, .tab-content p {font-size: 36px;}
  img.link-route {
    position: absolute;
    right: 20px;
    top: 25px;
    height: auto;
    width: 55%;
  }
  img.link-legend {
      height: 90px;
      position: absolute;
      bottom: 30px;
      left: 45px;
  }
  .home-block .inner {
    padding: 35px 45px;
  }
  .button-area a {
    float: right;
    bottom: 10px;
  }
  .home-block a {right: 85px;}
  .button-area .slider-nav a {margin-top: 8px;}

  .home-block h2 {
    color: rgb(51,51,72);
    font-size: 36px;
    font-weight: 500;
    text-align: left;
  }
  div#scroll-up {
    padding-top: 40px;
    padding-bottom: 23px;
  }
  #scroll-up img {
    width: 36px;
  }
  .home-block {
    height: 270px;
    margin-bottom: 25px;
  }
  .col1 {padding-right: 15px;}
  .col2 {padding-left: 15px;}
  .home-block p:after {
    content: "...";
  }
}
@media screen and (max-width: 1366px){
	/* header .container {
		width: 100%;
		padding-left: 120px;
		padding-right: 120px;
	} */
	#content .container {
		max-width: 1126px;
	}
	/* nav#site-navigation ul li a {font-size: 12px;} */
	/* .site-branding img.custom-logo{
		height: 30px;
    transition: .4s;
    margin-top: 7px;
	} */
  /* header#masthead.sticky .site-branding img.custom-logo {margin-top: 0;} */
	/* nav#site-navigation ul li {padding: 0 10px;} */
  img.link-legend {
    float: left;
    height: auto;
    position: absolute;
    bottom: 30px;
    left: 45px;
    width: 25%;
  }
  img.link-route {width: 55%;}
  .home-block .inner {
    padding: 35px 45px;
  }
  .home-block p {margin-top: 20px;}
  .st-links {margin-top: 35px;}
  .rightcol a.btn-wrap {margin-top: 12%;}
}
@media screen and (max-width: 1280px){
  #scroll-up img {
    height: 18px;
    width: auto;
  }
}
@media screen and (max-width: 1279px){
	/* header .container {
		max-width: 1040px;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	} */
	#content .container {
		max-width: 1040px;
	}
	img.link-route {
	    width: auto;
	    height: 80%;
	}
}
@media screen and (max-width: 1100px){
	/* header .container {
    max-width: 100%;
    padding: 0 30px;
  } */
  /* #masthead .slot-book, #masthead .lang-switch {
    display: none;
  } */
  /* .mean-container .mean-bar {
    background: none;
    position: fixed;
    height: 55px;
} */
  .mean-container a.meanmenu-reveal {padding: 0;}
  .mean-container a.meanmenu-reveal span {
    display: block;
    background: #333348;
    height: 3px;
    margin-top: 3px;
  }
  .panel-default {border-color: rgba(0,0,0,0);}
  .mean-container a.meanmenu-reveal {color: #333348;}
  .caption-top {display: none;}
  /* .mean-container .mean-nav {
	    float: left;
	    width: 100%;
	    background: #ececec;
	    margin-top: 66px;
	} */
  .mean-container .mean-nav ul li {
    padding: 0;
  }
	.mean-container .mean-nav ul li a {
	    color: #333348;
	    border-color: #333348;
	    padding-right: 0;
	    padding-left: 0;
	    /* padding-top: 30px;
	    padding-bottom: 30px; */
	    font-size: 14px;
	    width: 84vw;
      margin-left: 8vw;
      margin-right: 8vw;
	}
  .mean-container .mean-nav ul li li a {

  }
	.mean-container .mean-nav ul li:last-child a {
    	border-bottom: 1px solid;
	}
	nav.mean-nav ul#primary-menu {
	    padding-top: 60px;
	    padding-bottom: 50px;
	    display: block;
	    float: left;
	    height: 90vh;
    	position: relative;
	}
	a.meanmenu-reveal.meanclose {
    	color: transparent!important;
	}
.mean-container a.meanmenu-reveal span { width: 22px;  }

  a.meanmenu-reveal span {
    transition: .4s;
  }
  a.meanmenu-reveal:before {
    display: block;
    height: 3px;
    width: 22px;
    background: #333348;
    position: absolute;
    content: "";
    left: 0;
    margin-top: 3px;
    transform: rotate(0);
    transition: .4s;
}
a.meanmenu-reveal:after {
    display: block;
    height: 3px;
    width: 22px;
    background: #333348;
    position: absolute;
    content: "";
    left: 0;
    bottom: 4px;
    margin-top: 3px;
    transition: .4s;
    transform: rotate(0);
}
a.meanmenu-reveal.meanclose:after {
      transform: rotate(45deg);
      bottom: 10px;
      transition: .6s;
}
a.meanmenu-reveal.meanclose:before {
      transform: rotate(-45deg);
      bottom: 10px;
      transition: .6s;
}
a.meanmenu-reveal.meanclose span, a.meanmenu-reveal span:first-child, a.meanmenu-reveal span:last-child {display: none;}
.mean-container a.meanmenu-reveal span {margin-top: 9px;}

  a.meanmenu-reveal.meanclose span:nth-child(2){display: none;}

	.mean-nav ul .slot-book {
	    float: left;
	    line-height: 55px;
	    padding-left: 30px;
	}
	.lang-switch {
	    right: 50px;
	    margin-right: 0;
	}
	/* .mean-nav .lang-switch, .mean-nav .slot-book {
        position: absolute;
    	top: 80%;
    	transition: linear .2s ease-in;
	} */
	#scroll-down {bottom: 5%;}
	div#hero {height: 91.5vh;}
	#content .container {
		max-width: none;
		padding: 0 46px;
	}
	.home .home-block {
		height: 320px;
		width: 100%;
		padding: 0;
	}
.home .tab-content .tab-pane {
    display: block;
  }
  .home .nav-pills {
    display: none;
  }
  .home .panel-title a {
    display: block;
  }
  .home .panel {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    margin-top: -2px;
  }
  .home .tab-pane:first-child .panel {
    border-radius: 5px 5px 0 0;
  }
  .home .tab-pane:last-child .panel {
    border-radius: 0 0 5px 5px;
  }
  .home .tab-content>.tab-pane {height: auto; margin-bottom: 10px;}
  #content .container {padding: 0;}
  section.home-block-wrapper {
    width: 100%;
    padding: 0 70px;
  }
  .home .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 23px;
    text-align: center;
    font-weight: 600;
    color: #fff;
	}
	.home .panel-heading {
		height: 90px;
    	line-height: 90px;
    	padding: 0;
	}
	.home .panel-default>.panel-heading {
		background-color: #333348;
	    border-color: rgba(0,0,0,0);
    	margin-bottom: 0;
    }
	.home .tab-pane.active .panel-default>.panel-heading, .home .tab-pane .panel-default>.panel-heading:hover {
    	background-color: #FF0000;
	}
	.home .panel-title a:hover, .home .panel-title a:focus, .home .panel-title a:active {
		color: #fff;
		text-decoration: none!important;
		outline: none!important;
	}
	.tab-content h3, .tab-content p {
    	font-size: 23px;
    	font-weight: 500;
    	width: 100%;
	}
	.rightcol a.btn-wrap {
	    position: relative;
	    bottom: auto;
	    margin-top: 30px;
	    display: block;
	}
	.leftcol {
    	padding-left: 0;
    	padding-right: 0;
      margin-top: 25px;
      margin-bottom: 25px;
	}
	.leftcol div {
		height: 220px!important;
	}
	.home .panel-collapse {
	    margin-top: 0;
	    margin-bottom: 0;
	}
  .home .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
	.home .tab-content h3 {margin-top: 10px; margin-bottom: 10px;}
	.rightcol a.btn-wrap {
	    position: relative;
	    bottom: auto;
	    margin-top: 30px;
	    display: block;
	}
	.home .panel-default>.panel-heading+.panel-collapse>.panel-body {
    	padding-left: 70px;
    	padding-right: 65px;
	}
	.button-area {padding-left: 45px; padding-right: 55px;}
	.home-block a {
    	right: 55px;
	}
	img.link-route {right: 55px;}
	.home-block .inner {
    	padding: 35px 55px;
	}
	div.site-info > ul {
    	display: none;
	}
	.socmed {margin-top: 0;}
	footer#colophon .mobile-copy {display: block;}
	footer#colophon .mobile-copy .copy {display: block; margin-bottom: 10px; margin-top: 30px;}
	footer#colophon .mobile-copy ul li.copy::after {display: none;}
	/* header#masthead.sticky, header#masthead {
		position: fixed!important;
		padding-top: 15px!important;
		width: 100%;
		padding-bottom: 15px!important;
	} */
  .home .collapse {
    visibility: hidden;
  }
  .home .collapse.in {
    visibility: visible;
    display: block;
  }
  /* nav#site-navigation {display: none;} */
    .mean-container .mean-nav ul li a.mean-expand {
    background: none!Important;
    border: none!Important;
    padding: 0!important;
    height: initial;
    /* line-height: 70px; */
    font-size: 40px!important;
    color: #ff0000;
    outline: none;
}
.mean-container .mean-nav ul li a.mean-expand:focus, .mean-container .mean-nav ul li a.mean-expand:active {outline: none;}

a.mean-expand.mean-clicked {
    right: auto;
    left: 0;
}
.mean-container .mean-nav ul li a.open {
    text-align: center;
    color: #ff0000;
    font-weight: 900;
}
.mean-container .mean-nav a.open {
    text-align: center;
    font-weight: 900;
    color: #ff0000;
}
.mean-container .mean-nav ul li li a, .mean-container .mean-nav ul li li li a {
    border-bottom: none!important;
    padding-left: 0;
    padding-right: 0;
    width: 84vw;
    border-top: 1px solid #333348;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    text-transform: none;
}
}

@media screen and (max-width: 620px){
  #scroll-down {
    width: 30px;
    height: 30px;
    bottom: 12%;
  }
	section.home-block-wrapper {
	    width: 100%;
	}
	.home-block h3 {
	    font-size: 18px;
	    line-height: 22px;
	    width: 100%!important;
	}
  .home .home-block {height: 180px; transition-delay: none!important;}
	.home-block h2 {font-size: 18px;}
	img.link-route { height: 65%; right: 30px;}
	img.link-legend {left: 30px;}
	.home-block p {
	    margin-top: 10px;
	    font-size: 12px;
	    width: 100%;
	    line-height: 15px;
	}
	.home-block .inner {
    	padding: 30px;
	}
	.home-block a img, .button-area a img {
    	height: 20px;
	}
	.col1.home-block a, .home-block a {right: 30px;}
	.home-block {
	    height: 200px;
	    width: 100%;
	    padding: 0;
	}
	.button-area {
    	height: 30px;
    	padding: 0 30px;
	}
	.button-area a { bottom: 5px; }
	.button-area .slider-nav a {
	    margin-top: 0;
	    height: 4px;
	    width: 4px;
	}
	.home-block h3.pull-right {
    	width: auto!important;
	}
	.home .tab-content {margin-top: 20px;}
	.home .panel-heading {
	    height: 45px;
	    line-height: 45px;
	    padding: 0;
	}
	.home .panel-title {font-size: 12px;}
	.leftcol div {height: 120px!important;}
	.home .panel-collapse {
    	margin-top: 0;
    	margin-bottom: 0;
	}
	.home .panel-default>.panel-heading+.panel-collapse>.panel-body {
    	padding-left: 45px;
    	padding-right: 30px;
	}
	footer#colophon {margin-top: 35px;}
	.home .tab-content h3, .home .tab-content p {font-size: 12px;}
	.rightcol {padding-left: 10px; margin-top: 25px; margin-bottom: 25px;}
	.rightcol a.btn-wrap {margin-top: 10px;}
	.rightcol a.btn-wrap img {height: 20px;}
	footer#colophon ul li a {font-size: 9px;}
	footer#colophon ul li:after {padding-left: 5px; font-size: 9px;}
	.mobile-copy .list-inline>li {padding: 0;}
	nav.mean-nav ul#primary-menu {height: 72vh;}
	#primary-menu .mean-container .mean-nav ul li a {width: 80%;}
  #primary-menu .mean-container .mean-nav ul li a.mean-expand {
    border: none!important;
    background: none!important;
    color: #ff0000;
  }

	.tab-content>.tab-pane {
		margin-bottom: 0;
	}
	#primary-menu .mean-container .mean-nav ul li a {padding-top: 18px; padding-bottom: 18px;}
	.socmed a img {height: 18px;}
	footer#colophon .mobile-copy .copy {margin-top: 20px;}
  #primary-menu .mean-nav .lang-switch, #primary-menu .mean-nav .slot-book {top: 70%;}
  section.home-block-wrapper { padding: 0px 46px;}
/* .mean-container .mean-nav ul li a, .mean-container .mean-nav ul li li a, .mean-container .mean-nav ul li li li a {padding-top: 20px; padding-bottom: 20px;} */
/* .mean-container .mean-nav ul li a.mean-expand {line-height: 50px;} */

}

@media only screen  and (device-width : 375px)  and (device-height : 812px)  and (-webkit-device-pixel-ratio : 3) {
  nav.mean-nav ul#primary-menu {
      height: 68vh;
  }
}
@media only screen
    and (device-width : 375px)
    and (device-height : 667px)
    and (-webkit-device-pixel-ratio : 2) {
      nav.mean-nav ul#primary-menu {
      height: 69vh;
    }
    }
