#page-inner.about-us {
  .page-content {
    @media (min-width: 1366px) {
      margin-top: 100px;

      .headline {
        margin-bottom: -10px;
      }
    }

    @media (min-width: 1920px) {
      margin-top: 80px;

      .headline {
        margin-bottom: 0;
        font-size: 42px;
        line-height: 50px;
      }

      .description {
        margin-top: 0;
        line-height: 50px;
        margin-bottom: 122.8px;
        width: 100%;
      }
    }
  }

  .board,
  .content-boxes {
    font-size: 12px;
    line-height: 15px;

    .img-responsive {
      width: 100%;
      margin-bottom: 23px;
    }

    .heading {
      font-size: 16px;
      line-height: 15px;
      margin-bottom: 12px;
      font-weight: bold;
    }

    .description {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .content-boxes {
    .row {
      margin-top: 42px;

      &:first-child {
        margin-top: 0;
      }
    }

    @media (min-width: 768px) {
      .img-responsive {
        margin-bottom: 33px;
      }

      .headline {
        margin-bottom: 17px;
      }

      .heading {
        font-size: 36px;
        line-height: 22px;
        margin-bottom: 25px;
        font-weight: normal;
      }

      .description {
        font-size: 16px;
        line-height: 22px;
      }
    }

    @media (min-width: 1025px) {
      .headline {
        margin-bottom: 30px;
        line-height: 25px;
        margin-top: -5px;
      }

      .heading {
        line-height: 25px;
        margin-bottom: 35px;
      }

      .description {
        margin-top: 0;
        padding-top: 0;
        font-size: 19px;
        line-height: 25px;
      }

      .row:nth-child(even) {
        > div:first-child {
          float: right;
        }
      }
    }

    @media (min-width: 1920px) {
      margin-left: -80px;
      margin-right: -80px;

      .headline {
        margin-top: 0;
        font-size: 19px;
        margin-bottom: 20px;
        line-height: 1;
      }

      .heading {
        font-size: 42px;
        line-height: 44px;
        margin-bottom: 25px;
      }

      .description {
        margin: 0;
        line-height: 24px;

        > p {
          margin-bottom: 10px;
        }

        strong {
          font-weight: bold;
          display: block;
          margin-top: 10px;
          margin-bottom: -10px;
        }
      }

      .img-responsive {
        margin-bottom: 0;
        margin-top: 25px;
      }

      .row {
        margin-top: 166px;

        &:nth-child(odd) {
          .col-md-6:first-child {
            padding-right: 80px;
          }

          .col-md-6:last-child {
            padding-left: 100px;
            padding-right: 148px;
          }
        }

        &:nth-child(even) {
          .col-md-6:last-child {
            padding-left: 95px;
            padding-right: 147px;
          }
        }
      }
    }

    @media (min-width: 2560px) {
    }
  }

  .board {
    background-color: #ECECEC;
    padding: 19px 0;
    margin: 30px 0;

    .heading {
      font-size: 18px;
    }

    @media (min-width: 768px) {
      padding: 38px 0 62px;

      .headline {
        margin-bottom: 32px;
      }

      .heading {
        font-size: 42px;
        line-height: 22px;
        font-weight: normal;
      }

      .description {
        font-size: 16px;
        line-height: 22px;
        margin: 0;
        padding: 19px 56px 0;
      }
    }

    @media (min-width: 1025px) {
      padding: 64px 0;

      .headline {
        margin-bottom: 15px;
      }

      .description {
        padding: 19px 63px 0;
        font-size: 19px;
        line-height: 24px;
      }
    }

    @media (min-width: 1920px) {
      padding: 82px 0 120px;
      margin-top: 145px;
      margin-bottom: 127px;

      .headline {
        line-height: 1;
        margin-bottom: 20px;
        font-size: 19px;
      }

      .heading {
        font-size: 54px;
        line-height: 1;
        margin-bottom: 15px;
      }

      .description {
        width: 776px;
        padding: 0;
        margin: 0 auto;
      }
    }

    @media (min-width: 2560px) {
    }
  }

  .history-wrapper {
    background-color: #ECECEC;
    color: #333348;
    font-size: 16px;
    line-height: 18px;
    margin-top: 42px;
    margin-bottom: 37px;
    padding-top: 35px;
    padding-bottom: 44px;
    @include container;

    .headline {
      font-size: 16px;
      line-height: 1;
      margin-bottom: 29px;
    }

    .history {
      height: 310px;
      overflow-y: scroll;
      overflow-x: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .executives {
    font-size: 12px;
    line-height: 16px;

    .name,
    .title {
      display: block;
    }

    .name {
      margin-top: 10px;
    }

    .title {
      margin-bottom: 26px;
    }

    @media (min-width: 768px) {
      font-size: 23px;
      line-height: 30px;

      .name {
        margin-top: 20px;
      }

      .title {
        margin-bottom: 55px;
      }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      padding-left: 110px;
      padding-right: 110px;
    }

    @media (min-width: 1920px) {
      .img-responsive {
        width: 100%;
        margin-bottom: 32.7px;
      }

      .row {
        margin-left: -50px;
        margin-right: -50px;
      }

      .col-md-4 {
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 90px;
      }

      .name,
      .title {
        display: block;
        font-size: 42px;
        line-height: 56px;
      }
    }
  }

  .btn-contactus {
    display: none;
    margin-top: 85px;
    margin-bottom: -85px;
    @include container;

    .btn-contact {
      height: 65px;
      background-color: #FF0000;
      color: #fff;
      font-size: 23px;
      line-height: 12px;
      font-weight: bold;
      padding: 23px 0;
      border-radius: 0;
    }

    @media (min-width: 768px) {
      display: block;
    }

    @media (min-width: 1025px) {
      display: none;
    }
  }
}
