#page-inner.career {
  .page-content {
    .description {
      font-size: 14px;
      margin-bottom: 10px;
    }

    .description-alt {
      font-size: 14px;
      line-height: 18px;
    }

    @media (min-width: 768px) {
      .description,
      .description-alt {
        font-size: 26px;
        line-height: 28px;
      }

      .description-alt {
        margin-top: 19px;
      }
    }

    @media (min-width: 1025px) {
      .description {
        margin-top: 19px;
      }
    }

    @media (min-width: 1280px) {
      .headline,
      .description {
        font-size: 42px;
        line-height: 52px;
        margin: 0;
      }

      .description {
        max-width: 1192px;
      }

      .description-alt {
        margin-top: 46px;
        font-size: 19px;
        line-height: 24px;
        max-width: 1033px;
      }
    }
  }
}
