#page-inner.contact {
  .page-content {
    .telephone,
    .address {
      margin-top: 27px;
      border-left: 4px solid #f00;
      padding-left: 16px;
      font-size: 14px;
      line-height: 18px;

      > span {
        display: block;
      }
    }

    .contact-form {
      margin-top: 53px;

      .row {
        margin-bottom: 10px;

        .col-xs-6 {
          &:nth-child(odd) {
            padding-right: 5px;
          }

          &:nth-child(even) {
            padding-left: 5px;
          }
        }
      }

      .form-control {
        background-color: #ECECEC;
        border-radius: 0;
        border: none;
        box-shadow: none;

        &::placeholder {
          color: #333348;
        }
      }

      textarea.form-control {
        resize: none;
        height: 111px;
        padding-left: 14px;
      }

      input.form-control {
        height: 45px;
        padding: 14px;
      }

      .icons {
        display: inline-block;
        margin-right: 14px;

        &:last-child {
          margin-right: 0;
        }
      }

      svg {
        height: 20px;
        fill: #f00;

        &.facebook {
          width: 10px;
        }

        &.linkedin {
          width: 20px;
        }

        &.twitter {
          width: 19.27px;
          height: 15.66px;
        }

        &.youtube {
          width: 22.37px;
          height: 15.66px;
        }
      }

      button[type="submit"] {
        font-family: 'Ubuntu', sans-serif;
        font-size: 10px;
        border: none;
        background-color: transparent;
        float: right;
        position: relative;
        padding: 8px 14px 0;
        font-weight: bold;

        svg.corner {
          position: absolute;
          width: 17.4px;
          height: 16px;
          top: 0;
          right: 0;
        }
      }
    }

    @media (min-width: 768px) {
      .telephone,
      .address {
        padding-left: 38px;
        font-size: 26px;
        line-height: 28px;
        border-left-width: 5px;
        padding-top: 5px;
      }

      .telephone {
        margin-top: 28px;
      }

      .address {
        margin-top: 41px;
      }

      .contact-form {
        margin-top: 60px;

        .row {
          margin-bottom: 12px;

          &:last-child {
            margin-top: 34px;
          }

          .col-xs-6 {
            &:nth-child(odd) {
              padding-right: 6px;
            }

            &:nth-child(even) {
              padding-left: 6px;
            }
          }

          .form-control {
            font-size: 16px;
            line-height: 18px;
          }

          input.form-control {
            height: 60px;
            padding: 22px 30px;
          }

          textarea.form-control {
            padding: 22px 30px;
            height: 213px;
          }
        }

        .icons {
          margin-right: 20px;
        }

        svg {
          height: 30px;

          &.facebook {
            width: 15px;
          }

          &.linkedin {
            width: 30px;
          }

          &.twitter {
            width: 28.81px;
            height: 23.41px;
          }

          &.youtube {
            width: 33.44px;
            height: 23.41px;
          }
        }

        button[type="submit"] {
          font-size: 19px;
          font-weight: normal;
          padding-right: 24px;
          padding-top: 10px;

          svg.corner {
            width: 30px;
            height: 25px;
          }
        }
      }
    }

    @media (min-width: 834px) {
      .telephone,
      .address {
        padding-left: 39px;
      }

      .address {
        margin-top: 56px;
      }

      .contact-form {
        margin-top: 108px;

        .row {
          margin-bottom: 16px;

          &:last-child {
            margin-top: 26px;
          }

          .col-xs-6 {
            &:nth-child(odd) {
              padding-right: 8px;
            }

            &:nth-child(even) {
              padding-left: 8px;
            }
          }
        }
      }
    }

    @media (min-width: 1025px) {
      margin-bottom: -78px;

      .contact-info {
        margin-top: 82px;

        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }

      .telephone,
      .address {
        width: 50%;
        float: left;
        margin-top: 0;
        border-left: none;
        padding: 0;
        font-size: 30px;
        line-height: 36px;
      }

      .address {
        padding-left: 80px;
      }

      .contact-form {
        margin-top: 135px;

        .row {
          margin-bottom: 12px;

          &:last-child {
            margin-top: 45px;
          }

          .col-xs-6 {
            &:nth-child(odd) {
              padding-right: 5px;
            }

            &:nth-child(even) {
              padding-left: 5px;
            }
          }

          .form-control {
            font-size: 23px;
            line-height: 27px;
            padding: 31px;
          }

          input.form-control {
            height: 87px;
          }

          textarea.form-control {
            height: 218px;
          }
        }

        .icons {
          margin-right: 22px;
        }

        svg {
          height: 31.11px;

          &.facebook {
            width: 15.55px;
          }

          &.linkedin {
            width: 31.11px;
          }

          &.twitter {
            width: 29.91px;
            height: 24.3px;
          }

          &.youtube {
            width: 34.72px;
            height: 24.3px;
          }
        }

        button[type="submit"] {
          font-size: 21px;
          font-weight: bold;
          padding-right: 45px;
          padding-top: 24px;
          margin-top: -17px;

          svg.corner {
            width: 50.85px;
            height: 49px;
          }
        }
      }
    }

    @media (min-width: 1200px) {
      .telephone,
      .address {
        font-size: 36px;
        line-height: 42px;
      }

      .address {
        padding-left: 100px;
      }

      .row {
        > .col-lg-6 {
          width: 100%;
        }
      }
    }

    @media (min-width: 1366px) {
      .contact-form {
        .row {
          &:last-child {
            margin-top: 37px;
          }

          .col-xs-6 {
            &:nth-child(odd) {
              padding-right: 7px;
            }

            &:nth-child(even) {
              padding-left: 7px;
            }
          }
        }
      }
    }

    @media (min-width: 1920px) {
      .row {
        > .col-lg-6 {
          width: 50%;
        }
      }

      .contact-info {
        float: right;
        margin-top: 0;
        padding-top: 25px;
        padding-left: 49px;
      }

      .telephone,
      .address {
        width: 100%;
        font-size: 42px;
        line-height: 52px;
      }

      .telephone {
        margin-bottom: 75px;
      }

      .address {
        padding: 0;
      }

      .contact-form {
        margin-top: 0;

        .row {
          &:last-child {
            margin-top: 60px;
          }
        }

        button[type="submit"] {
          margin-top: -8px;
        }
      }
    }

    @media (min-width: 2560px) {
      .contact-form {
        padding-left: 107px;

        .row {
          margin-bottom: 14px;

          &:last-child {
            margin-top: 52px;
          }

          .col-xs-6 {
            &:nth-child(odd) {
              padding-right: 7.5px;
            }

            &:nth-child(even) {
              padding-left: 7.5px;
            }
          }

          .form-control {
            font-size: 23px;
            line-height: 29px;
            padding: 36px 45px;
          }

          input.form-control {
            height: 100px;
          }

          textarea.form-control {
            height: 249px;
          }
        }

        button[type="submit"] {
          font-size: 23px;
          padding-right: 39px;
        }
      }

      .telephone {
        margin-bottom: 35px;
      }
    }
  }
}
