#page-inner.downloads {
  .page-content {
    .description {
      font-size: 14px;
      margin-bottom: 43px;
    }

    .download-list {
      font-size: 12px;
      line-height: 15px;

      ul > li {
        padding-left: 21px;
        position: relative;
        margin-bottom: 6px;

        &:before {
          font-family: 'FontAwesome';
          content: "\f054";
          color: #f00;
          position: absolute;
          left: 0;
          top: 2px;
        }
      }
    }

    @media (min-width: 768px) {
      .description {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 70px;
      }

      .download-list {
        font-size: 16px;
        line-height: 19px;

        ul > li {
          padding-left: 46px;
          margin-bottom: 10px;
        }
      }
    }

    @media (min-width: 1280px) {
      .description {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 45px;
      }

      .download-list {
        ul {
          width: 50%;
          float: left;

          > li {
            padding-left: 29px;
          }
        }
      }
    }

    @media (min-width: 1366px) {
      .download-list {
        ul {
          width: initial;

          &:last-child {
            margin-left: 134px;
          }
        }
      }
    }
  }
}
