#page-inner.locations {
  .page-content {
    .location-tabs {
      margin-top: 65px;

      .location-nav {
        display: none;
        @include container;
      }

      .panel {
        border: none;
        min-height: 45px;
      }

      .panel-heading {
        background-color: #333348;
        color: #fff;
        border-radius: 0;
        border: none;
        height: 45px;
        text-align: center;
        z-index: 2;
        position: relative;
        padding-top: 16px;
        padding-bottom: 16px;

        &[aria-expanded="true"] {
          position: relative;
          @include container-margin;
        }

        .panel-title {
          font-size: 12px;

          a {
            color: #fff;
          }
        }
      }

      .panel-collapse {
        margin-top: -22px;
        height: initial;

        &.collapse {
          display: none;

          &.in {
            display: block;
          }
        }

        .panel-body {
          background-color: #ECECEC;
          border-top-color: transparent;
          margin-bottom: -5px;
          font-size: 12px;
          line-height: 15px;
          padding-top: 52px;
          padding-bottom: 50px;
          @include container;

          .img-responsive {
            margin-top: 22px;
            object-fit: cover;
          }

          .headline,
          .description {
            font-size: 12px;
            line-height: 15px;
          }

          .headline {
            margin-bottom: 0;
          }

          .address {
            margin-top: 27px;
            border-left: 3px solid #f00;
            padding-left: 10px;
          }

          .address-list {
            display: none;
          }

          .btn-keydata {
            margin-top: 27px;
            text-align: right;
            padding-right: 17px;
            position: relative;

            > a {
              height: 12px;
              width: 12px;
              border: 1px solid #333348;
              display: inline-block;
              text-align: center;
              color: #333348;
              font-size: 13px;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);

              &:before {
                content: "+";
                display: block;
                line-height: 0;
                padding: 4px 0;
              }

              &[aria-expanded="true"] {
                border-color: #f00;
                color: #f00;

                &:before {
                  content: "-";
                }

                + span {
                  color: #f00;
                }
              }
            }
          }

          .keydata {
            > div {
              margin-top: 45px;
            }

            .keydata-list {
              display: block;

              + .keydata-list {
                margin-top: 18px;
              }

              > div {
                line-height: 16px;

                strong {
                  font-weight: bold;
                  display: block;
                }

                + div {
                  margin-top: 18px;
                  min-height: 32px;
                }
              }

              svg {
                + svg {
                  margin-left: 15px;
                }

                &.truck {
                  width: 13.82px;
                  height: 16.85px;
                }

                &.train {
                  width: 12.56px;
                  height: 19.18px;
                }

                &.ferry {
                  width: 15.7px;
                  height: 15.24px;
                }
              }
            }
          }
        }
      }
    }

    .network-links {
      padding-top: 13px;

      .headline {
        line-height: 18px;
        margin-bottom: 15px;
      }

      .title,
      .description {
        font-size: 16px;
        line-height: 20px;
      }

      .title {
        color: #f00;
      }

      .img-network {
        margin-top: 24px;
      }

      .legend-link {
        margin-top: 15.5px;
        font-size: 11px;
        line-height: 8px;

        table {
          border-collapse: separate;
          border-spacing: 7px;
          margin-left: -7px;

          tr > td:last-child {
            padding-left: 7px;
          }

          td {
            vertical-align: middle;
          }

          ul {
            line-height: 14px;

            li {
              &:before {
                content: "";
                display: inline-block;
                height: 4px;
                width: 36px;
                margin-right: 12.5px;
              }

              &.red:before {
                background-color: #f00;
              }

              &.blue:before {
                background-color: #1E4483;
              }

              &.pink:before {
                background-color: #EC008C;
              }

              &.light-blue:before {
                background-color: #00AEEF;
              }

              &.c3c:before {
                background: #00AEEF url(../images/c3c.png);
              }

              &.sch:before {
                background: #00AEEF url(../images/sch.png);
              }
            }
          }

          .train,
          .ferry {
            background-color: #ECECEC;
            text-align: center;

            svg {
              height: 48px;
              fill: #333348;
            }
          }

          .train {
            width: 33px;

            svg {
              width: 11.69px;
            }
          }

          .ferry {
            width: 33px;

            svg {
              width: 13.48px;
            }
          }
        }
      }
    }

    @media (min-width: 768px) {
      .location-tabs {
        .panel-heading {
          height: 65px;
          padding-top: 20px;
          padding-bottom: 20px;

          .panel-title {
            font-size: 21px;
          }

          &[aria-expanded="true"] {
            .panel-title {
              font-weight: bold;
            }
          }
        }

        .panel-collapse {
          margin-top: -32px;

          .panel-body {
            padding-top: 80px;
            font-size: 16px;

            .headline,
            .description {
              font-size: 16px;
              line-height: 22px;
              margin: 0;
            }

            // .row {
            //   margin-left: -18px;
            //   margin-right: -18px;

            //   .col-xs-6,
            //   .col-xs-12 {
            //     padding-left: 18px;
            //     padding-right: 18px;
            //   }

            //   .col-xs-6:first-child {
            //     padding-right: 0;
            //   }
            // }

            .img-responsive {
              width: 100%;
              height: 186px;
              margin-top: 0;
            }

            .address {
              border-left: 5px solid #f00;
              padding-left: 20px;
              font-size: 16px;
              line-height: 25px;
              margin: 0;
            }

            .btn-keydata {
              font-size: 16px;
              float: left;
              margin-top: 80px;
              padding-right: 35px;

              > a {
                width: 17px;
                height: 17px;
                border-width: 2px;
                font-size: 17px;
                font-weight: bold;

                &:before {
                  padding: 5px 0;
                }
              }
            }

            // .keydata {
            //   > .row > .col-xs-6 {
            //     display: inline-block;
            //     width: initial;
            //   }

            //   .keydata-list {
            //     float: left;

            //     + .keydata-list {
            //       margin-top: 0;
            //       margin-left: 40px;
            //       max-width: 162px;
            //     }
            //   }
            // }
          }
        }
      }

      .network-links {
        padding-top: 60px;

        .title,
        .description {
          font-size: 26px;
          line-height: 30px;
          margin: 0;
        }

        .description {
          width: 440px;
        }

        .img-network {
          margin-top: 76px;
        }

        .legend-link table {
          td {
            font-size: 16px;
            line-height: 10px;
          }

          ul {
            font-size: 18px;
            line-height: 24px;

            li {
              &:before {
                height: 7px;
                width: 70px;
              }

              &.c3c:before {
                background-repeat: repeat-x;
                background-size: contain;
                background-position: 0% 40%;
              }

              &.sch:before {
                background-repeat: repeat-x;
                background-size: contain;
                background-position: 0% 40%;
              }
            }
          }

          .train,
          .ferry {
            width: 60px;

            svg {
              height: 82.66px;
            }
          }

          .train {
            svg {
              width: 22.57px;
            }
          }

          .ferry {
            svg {
              width: 26px;
            }
          }
        }
      }
    }

    @media (min-width: 992px) {
      .location-tabs {
        .panel + .panel {
          margin-top: 10px;
        }

        .panel-collapse .panel-body {
          margin-bottom: -10px;

          .img-responsive {
            height: 230px;
          }
        }
      }

      .network-links {
        .img-network {
          margin-top: 0;
        }
      }
    }

    @media (min-width: 1025px) {
      .location-tabs {
        &:after {
          content: "";
          display: block;
          clear: both;
        }

        .location-nav {
          display: block;
          position: relative;
          z-index: 2;

          .nav-justified {
            margin-left: -7px;
            margin-right: -7px;
            width: initial;

            > li {
              vertical-align: middle;
              // width: 20%;
              // float: left;
              padding-left: 7px;
              padding-right: 7px;

              + li {
                margin-left: 0;
              }

              > a {
                background-color: #333348;
                color: #fff;
                height: 60px;
                font-size: 19px;
                border-radius: 0;
                vertical-align: middle;
                display: table-cell;

                &[aria-expanded="true"] {
                  background-color: #f00;
                  font-weight: bold;
                }
              }
            }
          }
        }

        .panel-group {
          margin-top: -30px;
          margin-bottom: 0;
          position: relative;
          float: left;
        }

        .panel-heading {
          display: none;
        }

        .panel {
          min-height: initial;

          + .panel {
            margin-top: 0;
          }
        }

        .panel-collapse {
          margin-top: 0;

          .panel-body {
            margin-bottom: 0;
            padding-bottom: 100px;
            font-size: 19px;
            line-height: 22px;

            .address {
              display: none;
            }

            .address-list {
              display: block;
              font-size: 17px;
              line-height: 30px;
              margin-bottom: 41px;

              ul li {
                display: inline-block;

                &:not(:first-child):before {
                  content: "|";
                  display: inline-block;
                  padding: 0 15px;
                }

                &:last-child {
                  display: none;
                }
              }
            }

            .headline {
              margin-bottom: 18px;
              font-size: 19px;
            }

            .description {
              width: initial;
              font-size: 36px;
              line-height: 42px;
            }

            .row:nth-child(2) {
              > .col-lg-12:first-child {
                display: none;
              }
            }

            .btn-keydata {
              margin-top: 20px;
            }

            .keydata {
              .col-xs-6 {
                width: initial;

                &:not(:first-child) {
                  margin-left: 40px;
                }
              }

              .keydata-list {
                float: left;
                max-width: 200px;

                + .keydata-list {
                  margin-top: 0;
                  margin-left: 70px;
                }
              }
            }
          }
        }
      }

      .network-links {
        padding-top: 63px;

        .headline {
          margin-top: 52px;
          font-size: 19px;
          line-height: 46px;
          margin-bottom: 0;
        }

        .title {
          font-size: 36px;
          line-height: 46px;
          margin-bottom: 21px;
        }

        .description {
          font-size: 36px;
          line-height: 42px;
        }

        .img-network {
          margin-right: -43px;
        }

        .legend-link {
          position: relative;
          top: -35px;

          table {
            border-spacing: 11px;
            margin-left: -11px;

            td {
              font-size: 17px;
              line-height: 20px;
            }

            tr > td:last-child {
              padding-left: 21px;
            }

            ul {
              font-size: 17px;
              line-height: 32px;
            }

            .train,
            .ferry {
              width: 74px;

              svg {
                height: 103px;
              }
            }

            .train {
              svg {
                width: 28.13px;
              }
            }

            .ferry {
              svg {
                width: 32.43px;
              }
            }
          }
        }
      }
    }

    @media (min-width: 1280px) {
      .location-tabs {
        .location-nav {
          .nav-justified {
            width: initial;

            > li {
              width: 20%;
              float: left;

              + li {
                margin-left: 0;
              }

              > a {
                display: block;
                padding: 20px 0;
              }
            }
          }
        }

        .panel-collapse .panel-body {
          .img-responsive {
            height: 334px;
          }

          .btn-keydata {
            > a {
              width: 24px;
              height: 24px;
              font-size: 28px;
              font-weight: 300;
              border-width: 1px;

              &:before {
                padding: 9px 0;
              }
            }
          }

          .keydata {
            .col-xs-6:not(:first-child) {
              margin-left: 110px;
            }

            .keydata-list + .keydata-list {
              margin-left: 140px;
            }
          }
        }
      }
    }

    @media (min-width: 1366px) {
      .location-tabs {
        margin-top: 127px;

        .location-nav .nav-justified>li>a {
          height: 65px;
          padding: 23px 0;
        }

        .panel-collapse {
          .panel-body {
            .address-list {
              font-size: 19px;
              margin-bottom: 40px;
            }

            .headline {
              margin-bottom: 15px;
            }

            .btn-keydata {
              margin-top: 74px;
            }
          }
        }
      }

      .network-links {
        position: relative;
        padding-top: 98px;
        padding-bottom: 64px;

        .headline {
          margin-top: 0;
        }

        .description {
          width: initial;
        }

        .legend-link {
          position: absolute;
          bottom: -10%;
          top: initial;

          table {
            td {
              font-size: 19px;
              line-height: 22px;
            }

            ul {
              font-size: 19px;
              line-height: 35px;
            }

            .train,
            .ferry {
              width: 81px;

              svg {
                height: 113px;
              }
            }

            .train svg {
              width: 31px;
            }

            .ferry svg {
              width: 35px;
            }
          }
        }
      }
    }

    @media (min-width: 1920px) {
      .location-tabs {
        margin-top: 174px;

        .location-nav {
          padding-left: 120px;
          padding-right: 120px;

          .nav-justified > li > a {
            font-size: 23px;
            height: 87px;
            padding: 32px 0;
          }
        }

        .panel-group {
          margin-top: -43px;
        }

        .panel-collapse {
          .panel-body {
            padding-top: 154px;
            padding-bottom: 125px;

            .img-responsive {
              height: 397px;
            }

            .address-list {
              margin-bottom: 38px;

              ul li:last-child {
                display: inline-block;
              }
            }

            .headline {
              margin-bottom: 14px;
            }

            .description {
              font-size: 42px;
              line-height: 48px;
            }

            .btn-keydata {
              font-size: 19px;
            }

            .keydata {
              .keydata-list {
                max-width: 265px;

                .col-xs-6:not(:first-child) {
                  margin-left: 130px;
                }

                + .keydata-list {
                  margin-left: 160px;
                }

                > div + div {
                  margin-top: 23px;
                }

                svg {
                  + svg {
                    margin-left: 21px;
                  }

                  &.truck {
                    width: 18.51px;
                    height: 22.57px;
                  }

                  &.train {
                    width: 16.83px;
                    height: 25.69px;
                  }

                  &.ferry {
                    width: 21.04px;
                    height: 20.42px;
                  }
                }
              }
            }
          }
        }
      }

      .network-links {
        padding-bottom: 0;

        .title {
          font-size: 42px;
        }

        .img-network {
          margin-right: -140px;

          .img-responsive {
            width: 100%;
          }
        }

        .legend-link {
          bottom: 5%;
        }
      }
    }

    @media (min-width: 2560px) {
      .location-tabs {
        .location-nav {
          padding-left: 355px;
          padding-right: 355px;
        }
        .panel-collapse .panel-body .img-responsive {
          height: 460px;
        }
      }

      .network-links {
        .headline {
          margin-top: 73px;
        }

        .img-network {
          margin-right: 0;
        }

        .legend-link {
          bottom: 0;
        }
      }
    }
  }
}
