#page-inner.services {
  .service-title {
    font-weight: 500;
    color: #FF0000;
    font-size: 12px;
    line-height: 15px;
  }

  .service-sub {
    font-size: 16px;
    line-height: 15px;
    margin: 6px 0;

    @media (min-width: 1025px) {
      font-size: 36px;
      line-height: 42px;
    }

    @media (min-width: 1920px) {
      font-size: 42px;
      line-height: 52px;
    }
  }

  .service-content {
    line-height: 15px;
    letter-spacing: 0;
    font-size: 12px;

    > p {
      margin-bottom: 10px;

      &:not(:first-child) {
        display: none;
      }
    }

    > .hidemore {
      display: none;
      cursor: pointer;

      &:after {
        content: "\f077";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: 10px;
      }
    }

    > .readmore {
      display: block;
      cursor: pointer;

      &:after {
        content: "\f078";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: 10px;
      }
    }

    @media (min-width: 1025px) {
      line-height: 25px;
      margin-top: 16px;
    }

    @media (min-width: 1920px) {
      max-width: 670px;
      margin-top: 22px;
    }
  }

  .page-content {
    .services-nav {
      color: #fff;
      text-align: center;
      line-height: 22.8px;
      font-size: 12px;
      position: relative;
      margin-top: 22px;
      @include scrollable;

      > ul {
        background-color: #333348;
        margin-left: 25px;
        margin-right: 25px;
        display: inline-block;
        padding: 11px;

        li {
          position: relative;
          display: inline-block;
          padding: 0 13px 0 15px;

          &.active {
            font-weight: bold;
          }

          &:after {
            content: '|';
            color: #FF0000;
            position: absolute;
            right: -5px;
            font-weight: normal;
          }

          &:last-child:after {
            padding-left: 0;
            content: '';
          }

          > a {
            color: #fff;
          }
        }

        @media (min-width: 768px) {
          margin-left: 70px;
          margin-right: 70px;
          padding: 19px 21px;
          font-size: 16px;
          line-height: 22.8px;

          li {
            padding: 0 15px 0 17px;
          }
        }

        @media (min-width: 1025px) {
          margin-left: 60px;
          margin-right: 60px;
          padding: 17px 18px;
          font-size: 19px;
          line-height: 23px;

          li {
            padding: 0 20px 0 20px;

            &.active {
              font-weight: normal;
            }
          }
        }

        @media (min-width: 1280px) {
          margin-left: 120px;
          margin-right: 120px;
        }
      }

      @media (min-width: 768px) {
        margin-top: 52px;
      }

      @media (min-width: 1024px) {
        margin-top: 64px;
      }

      @media (min-width: 1920px) {
        overflow: initial;
        white-space: initial;
        margin-left: 120px;
        margin-right: 120px;

        > ul {
          margin: 0;
          padding: 31px;
          width: 100%;
          display: block;

          li:after {
            right: -7px;
            font-weight: bold;
            top: -1px;
            font-size: 23px;
          }
        }
      }
    }

    .services-list {
      font-size: 12px;
      line-height: 15px;

      .row {
        margin-top: 70px;

        &:first-child {
          margin-top: 32px;
        }
      }

      .img-responsive {
        width: 100%;
      }

      .service-title {
        margin-top: 27px;
        display: block;
      }

      ul.pointers {
        margin-top: 30px;

        > li {
          position: relative;
          display: block;
          line-height: 16px;
          padding: 4px 0 4px 40px;

          svg.corner {
            position: absolute;
            width: 21.07px;
            height: 20.3px;
            fill: #f00;
            left: 0;
            top: 4px;
          }
        }
      }

      @media (min-width: 768px) {
        .row:first-child {
          margin-top: 51px;
        }

        .service-title {
          margin-top: 30px;
          font-size: 16px;
          font-weight: normal;
        }

        .service-sub {
          font-size: 36px;
          line-height: 1;
          margin: 10px 0 20px;
        }

        .service-content {
          line-height: 22px;
          font-size: 16px;

          > .readmore,
          > .hidemore {
            font-weight: bold;
          }
        }

        ul.pointers {
          > li {
            font-size: 21px;
            line-height: 28px;
            padding-bottom: 15px;
            padding-left: 60px;

            svg.corner {
              width: 25.09px;
              height: 24.18px;
            }
          }
        }
      }

      @media (min-width: 1025px) {
        font-size: 19px;
        line-height: 42px;

        .row {
          margin-top: 118.8px;

          &.odd {
            > div:first-child {
              float: right;
            }
          }

          .col-lg-6 {
            width: 50%;
            float: left;
          }
        }

        .service-title {
          margin-top: -12px;
          font-size: 19px;
          line-height: 42px;
        }

        .service-sub {
          margin-top: -5px;
        }

        .service-content {
          line-height: 24px;
          font-size: 19px;
        }

        .img-responsive {
          height: 380px;
          object-fit: cover;
        }

        ul.pointers {
          > li {
            font-size: 19px;
            line-height: 1;
          }
        }
      }

      @media (min-width: 1280px) {
        .img-responsive {
          height: 480px;
        }

        .row {
          margin-left: -30px;
          margin-right: -30px;

          .col-lg-6 {
            padding-left: 30px;
            padding-right: 30px;
          }
        }
      }

      @media (min-width: 1920px) {
        .row {
          margin-top: 180px;
          margin-left: -55px;
          margin-right: -55px;

          &:first-child {
            margin-top: 145px;
          }

          .col-lg-6 {
            padding-left: 55px;
            padding-right: 55px;
          }

          &.even {
            .col-lg-6:last-child {
              padding-left: 107px;
            }
          }
        }

        .service-title {
          margin-top: -22px;
          line-height: 1;
          margin-bottom: 20px;
        }

        .img-responsive {
          height: 580px;
        }

        .service-content {
          > p:not(:first-child) {
            display: block;
          }

          > .readmore {
            display: none;
          }
        }

        ul.pointers {
          margin-top: 53px;

          > li {
            font-size: 23px;
            line-height: 30px;
            padding-left: 0;

            svg.corner {
              left: -52px;
            }
          }
        }
      }

      @media (min-width: 2560px) {
        .row {
          margin-left: -75px;
          margin-right: -75px;

          .col-md-6 {
            padding-left: 75px;
            padding-right: 75px;
          }
        }

        .service-sub {
          font-size: 42px;
          line-height: 52px;
        }
      }
    }

    .other-services {
      margin-top: 50px;
      background-color: #ECECEC;
      padding-top: 34px;
      padding-bottom: 34px;

      .service-sub {
        display: block;
        font-size: 18px;
        line-height: 1;
        padding-bottom: 11px;
      }

      .headline,
      .description {
        font-size: 12px;
        line-height: 16px;
      }

      .headline {
        margin-top: 25px;
        margin-bottom: 10px;
      }

      .description {
        strong {
          font-weight: bold;
        }

        > p {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      @media (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 60px;

        .service-sub {
          font-size: 36px;
          padding-bottom: 0;
          margin-bottom: -14px;
        }

        .headline,
        .description {
          font-size: 16px;
          line-height: 22px;
        }

        .headline {
          margin-top: 54px;
        }
      }

      @media (min-width: 1025px) {
        padding-top: 75px;
        padding-bottom: 105px;

        .headline,
        .description {
          font-size: 19px;
          line-height: 24px;
        }

        .headline {
          margin-top: 0;
        }

        .description {
          width: 80%;
        }
      }

      @media (min-width: 1920px) {
        margin-top: 175px;
      }
    }

    .btn-wrapper {
      margin-top: 33px;

      .btn {
        padding: 8px;
      }

      @media (min-width: 768px) {
        margin-top: 74px;

        .col-sm-6 {
          float: right;
        }
      }

      @media (min-width: 1366px) {
        margin-top: 166px;

        .btn {
          padding: 23px 8px;
        }
      }
    }
  }
}

#page-inner.buying-renting {
  .overview-form {
    .buying-renting {
      position: relative;
      background-color: #ECECEC;
      min-height: 198px;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 40px;
      @include container;

      .service-sub {
        margin-top: 16px;
      }

      .service-content {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
      }

      @media (min-width: 768px) {
        min-height: initial;
        padding-top: 39px;
        padding-bottom: 92px;

        .service-title {
          font-size: 16px;
          line-height: 15px;
        }

        .service-sub {
          margin-top: 22.5px;
          font-size: 42px;
          line-height: 42px;

          > span {
            display: block;
          }
        }

        .service-content {
          font-size: 16px;
          line-height: 22px;
          margin-top: 25px;
          padding-left: 40px;
          padding-right: 40px;
        }
      }

      @media (min-width: 1025px) {
        padding-top: 83.4px;
        padding-bottom: 93.4px;

        .service-title {
          font-size: 19px;
          line-height: 0;
        }

        .service-sub {
          margin-top: 22px;
          font-size: 36px;

          > span {
            display: inline;
          }
        }

        .service-content {
          font-size: 19px;
        }
      }

      @media (min-width: 1920px) {
        min-height: 494px;
        padding-top: 85px;

        .service-sub {
          font-size: 60px;
          line-height: 65px;
          margin-left: auto;
          margin-right: auto;
        }

        .service-content {
          max-width: 750px;
        }
      }
    }

    .container-tabs {
      margin-top: 65px;
      @include scrollable;

      @media (min-width: 768px) {
        // margin-top: -30px;
      }

      @media (min-width: 1280px) {
        overflow: initial;
        white-space: initial;
        // margin-top: -40px;
      }

      @media (min-width: 1920px) {
        // margin-top: -43px;
      }

      > ul.nav {
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
        width: initial;

        li {
          height: 40px;
          vertical-align: middle;
          display: inline-block;

          + li {
            margin-left: 0;
          }

          > a {
            border-radius: 0;
            // display: table;
            height: 40px;
            // width: calc(100% - 16px);
            min-width: 140px;
            background-color: #333348;
            color: #fff;
            font-size: 12px;
            line-height: 40px;
            padding: 0;
            margin: 0;

            &.feature {
              background-color: #5ADDFF;
            }

            strong {
              // font-weight: 700;
              // font-size: 22px;
              // display: block;
              // line-height: 26px;
            }

            > span {
              // display: table-cell;
              // vertical-align: middle;
              // width: 100%;
            }
          }

          &.active > a {
            font-weight: bold;
            background-color: #FF0000;
          }
        }

        @media (min-width: 768px) {
          margin-left: 70px;
          margin-right: 70px;

          li {
            width: initial;
            margin-right: 8px;
            height: 60px;

            &:last-child {
              margin-right: 0;
            }

            > a {
              font-size: 19px;
              line-height: 46px;
              display: table;
              min-width: 225px;
              height: 100%;

              > span {
                display: table-cell;
                vertical-align: middle;
              }
            }
          }
        }

        @media (min-width: 1025px) {
          margin-left: 60px;
          margin-right: 60px;

          li {
            height: 75px;

            > a {
              min-width: initial;
              width: 99px;

              > span {
                line-height: 13px;
                font-size: 12px;
                font-weight: normal;
                white-space: normal;

                strong {
                  display: block;
                  line-height: 26px;
                  font-size: 22px;
                  font-weight: 500;
                }
              }
            }
          }
        }

        @media (min-width: 1280px) {
          margin: 0;
          padding: 0 120px;
          display: table;
          width: 100%;

          li {
            margin: 0;
            display: table-cell;

            > a {
              margin: 0 auto;
            }
          }
        }

        @media (min-width: 1366px) {
          padding: 0 115px;

          li {
            > a {
              width: 103px;
            }
          }
        }

        @media (min-width: 1920px) {
          li {
            height: 85px;

            > a {
              width: 154px;

              > span strong {
                margin-bottom: 9px;
              }
            }
          }
        }
      }
    }

    .buying-renting-description {
      &:after {
        content: "";
        display: block;
        clear: both;
      }

      .tab-content {
        margin-top: 26px;

        @media (min-width: 768px) {
          margin-top: 48.5px;
        }

        @media (min-width: 1025px) {
          margin-top: 54.6px;
        }

        @media (min-width: 1366px) {
          margin-top: 73.6px;
        }

        > .tab-pane {
          height: initial;
        }

        .box-container {
          .box-title {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 12px;
            color: #f00;
          }

          .box-description {
            font-size: 16px;
            line-height: 18px;
          }

          @media (min-width: 768px) {
            .box-title {
              font-size: 16px;
              line-height: 15px;
              margin-bottom: 16.3px;
            }

            .box-description {
              font-size: 26px;
              line-height: 28px;
              width: 527.67px;
            }
          }

          @media (min-width: 834px) {
            .box-description {
              width: calc(100% - 40px);
            }
          }

          @media (min-width: 1025px) {
            .box-title {
              font-size: 12px;
              margin-bottom: 12.5px;
            }

            .box-description {
              font-size: 27px;
              line-height: 30px;
              letter-spacing: -1px;
              width: 763px;
            }
          }

          @media (min-width: 1366px) {
            padding-left: 52px;
          }

          @media (min-width: 1920px) {
            padding-top: 80px;

            .box-title {
              font-size: 19px;
              margin-bottom: 30px;
            }

            .box-description {
              font-size: 42px;
              line-height: 46px;
              width: 1187px;
            }
          }
        }

        .box-technical {
          margin: 35px 0;

          @media (min-width: 768px) {
            margin: 45px 0 58px;
          }

          @media (min-width: 1025px) {
            margin-bottom: 84.9px;
          }

          @media (min-width: 1366px) {
            margin-top: 50.3px;
          }

          @media (min-width: 1920px) {
            margin-top: 68px;
          }

          .carousel {
            margin-left: 20px;
            margin-right: 20px;

            .item > img {
              width: 100%;
            }

            @media (min-width: 1025px) {
              margin-left: 50px;
              margin-right: 50px;
            }
          }

          .carousel-control.left,
          .carousel-control.right {
            background-image: none;
            color: #ECECEC;
            text-shadow: none;
            opacity: 1;
          }

          .carousel-control.left {
            left: -20px;

            @media (min-width: 1025px) {
              left: -50px;
            }
          }

          .carousel-control.right {
            right: -20px;

            @media (min-width: 1025px) {
              right: -50px;
            }
          }

          .technical-data {
            padding-left: 11px;
            border-left: 4px solid #f00;

            .data-title {
              display: none;
            }

            .data-description {
              margin-top: 36px;

              &:after {
                content: "";
                clear: both;
                display: block;
              }

              .container-info {
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                float: left;
                width: 50%;
                margin: 0 0 20px 0;

                &:last-child {
                  margin-bottom: 0;
                  margin-top: -12px;
                }

                strong {
                  display: block;
                  font-weight: 700;
                }

                span {
                  display: block;
                }
              }
            }

            @media (min-width: 768px) {
              padding-left: 36px;

              .data-description {
                margin-top: 49px;

                .container-info {
                  font-size: 16px;
                  line-height: 19px;
                  min-height: 76px;
                  width: 33.3333%;

                  &:nth-last-child(-n+2) {
                    margin-bottom: 0;
                    margin-top: 0;
                  }
                }
              }
            }

            @media (min-width: 1025px) {
              border-left: 10px solid #f00;
              padding-left: 12px;
              margin-top: 47px;

              .data-title {
                display: block;
                font-size: 27px;
                line-height: 31px;
                letter-spacing: -1px;
                margin-bottom: 0;
              }

              .data-description {
                margin-top: 28.8px;
                padding-bottom: 15px;

                .container-info {
                  font-size: 12px;
                  line-height: 19px;
                  width: 100%;
                  min-height: initial;
                  margin-bottom: 0;

                  strong,
                  span {
                    display: inline-block;
                  }

                  strong:after {
                    content: ":";
                    display: inline-block;
                  }

                  span {
                    &:after {
                      content: "|";
                      display: inline-block;
                      margin-left: 3px;
                    }

                    &:last-child:after {
                      display: none;
                    }
                  }
                }
              }
            }

            @media (min-width: 1920px) {
              font-size: 19px;
              line-height: 30px;
              margin-top: 70px;

              .data-title {
                font-size: 42px;
                line-height: 48px;
              }

              .data-description {
                .container-info {
                  font-size: 19px;
                  line-height: 30px;
                }
              }
            }
          }
        }
      }
    }

    .buying-renting-goto {
      text-align: center;
      margin-bottom: 20px;

      > a {
        font-size: 12px;
        line-height: 9px;
        font-weight: bold;
        color: #FF0000;
        display: inline-block;

        span.fa {
          display: block;
          font-size: 25px;
        }
      }

      @media (min-width: 768px) {
        margin-bottom: 60px;

        > a {
          font-size: 18px;
          line-height: 14px;

          span.fa {
            font-size: 38px;
            font-weight: bold;
          }
        }
      }

      @media (min-width: 1025px) {
        margin-bottom: 50px;

        > a {
          font-size: 14px;
          line-height: 16px;

          span.fa {
            font-size: 33px;
            margin-top: 10px;

            &:before {
              content: "\f078";
            }
          }
        }
      }

      @media (min-width: 1920px) {
        padding-bottom: 75px;

        > a {
          font-size: 23px;
          line-height: 26px;

          span.fa {
            font-size: 49px;
          }
        }
      }
    }

    .buying-renting-steps {
      position: relative;

      .overview {
        background-color: #333348;
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        height: 98px;
        padding: 18px 0 22px;

        > svg {
          width: 28.29px;
          height: 27.5px;
          display: block;
          margin: 0 auto 12px;
          fill: #fff;
        }

        @media (min-width: 768px) {
          height: initial;
          padding: 32px 0 47px;

          > svg {
            width: 46.1px;
            height: 44.82px;
            margin-bottom: 19.5px;
          }
        }

        @media (min-width: 1025px) {
          font-size: 27px;
          line-height: 31px;
          padding: 50px 0 47px;

          > svg {
            display: none;
          }
        }
      }

      .stepper {
        // height: 161px;

        > fieldset {
          display: none;
        }

        .steps {
          @include container;
          padding-top: 43px;
          margin-bottom: 33px;

          &:after {
            height: 1.5px;
            background-color: #333348;
            width: calc(100% - 40px);
            margin: 0 auto;
          }

          ul {
            &:after {
              content: "";
              display: block;
              clear: both;
            }

            > li {
              padding-left: 8px;
              padding-right: 8px;
              position: relative;
              text-align: center;
              padding: 0;
              width: 30%;

              &:before {
                content: ".";
                display: block;
                opacity: 0;
              }

              &:after {
                position: relative;
                content: "";
                display: block;
                height: 8px;
                width: 8px;
                background-color: #333348;
                margin-bottom: -5px;
                margin-left: auto;
                margin-right: auto;
                z-index: 1;
              }

              &.current {
                &:after {
                  background-color: #f00;
                }

                > a {
                  color: #f00;
                }
              }

              &.first {
                width: 20%;

                &:after {
                  margin-left: 20px;
                }

                > a {
                  left: 10%;
                }
              }

              &.last {
                width: 20%;

                &:after {
                  margin-right: 20px;
                }

                > a {
                  left: -10%;
                }
              }
            }
          }

          a {
            padding: 0;
            margin: 0;
            position: absolute;
            z-index: 1;
            background-color: #fff;
            color: #333348;
            font-size: 11px;
            line-height: 12.6px;
            bottom: 100%;
            width: 100%;
            transform: translateY(4px);

            .number {
              display: none;
            }
          }

          .audible {
            display: none;
          }

          @media (min-width: 768px) {
            &:after {
              width: calc(100% - 80px);
              height: 2px;
            }

            ul > li {
              &:after {
                height: 10px;
                width: 10px;
                margin-bottom: -6px;
              }

              &.current {
                &:after {
                  height: 15px;
                  width: 15px;
                  position: absolute;
                  margin-top: -2px;
                }

                &:not(.first):not(.last):after {
                  left: 50%;
                  transform: translateX(-50%);
                }

                &.last:after {
                  right: 0;
                }
              }

              &.first {
                &:after {
                  margin-left: 40px;
                }

                > a {
                  left: initial;
                  text-align: left;
                }
              }

              &.last {
                &:after {
                  margin-right: 40px;
                }

                > a {
                  left: initial;
                  text-align: right;
                }
              }
            }

            a {
              font-size: 16px;
              line-height: 19px;
            }
          }

          @media (min-width: 1025px) {
            padding-top: 95px;
            padding-bottom: 125px;
            margin-bottom: 0;

            &:after {
              height: 3px;
              width: calc(100% - 160px);
            }

            ul {
              height: 41px;

              > li {
                &:after {
                  height: 12.08px;
                  width: 12.08px;
                  top: 21px;
                }

                &.current:after {
                  height: 24.13px;
                  width: 24.13px;
                  top: 33px;
                }

                &.first:after {
                  margin-left: 80px;
                }

                &.last:after {
                  margin-right: 80px;
                }
              }
            }

            a {
              font-size: 23px;
              line-height: 26px;
            }
          }
        }

        .content {
          background-color: #ECECEC;
          margin: 0;
          min-height: 366px;
          border-radius: 0;
          @include container;

          h4 {
            display: none;
          }

          fieldset {
            margin: 18.3px 0 0 0;
            padding: 0;
            float: left;
            position: relative;
            width: 100%;
            height: initial;
            font-size: 12px;
            line-height: 13px;

            legend {
              font-size: 18px;
              margin-bottom: 14px;
            }

            > .row {
              position: relative;

              .form-group {
                margin-bottom: 24px;

                &.blur-group {
                  opacity: .5;
                  pointer-events: none;
                }

                &.conditional {
                  display: none;

                  &.active {
                    display: block;
                  }
                }

                > label {
                  display: block;
                  margin: 0;
                  padding: 7px 0;

                  &.radio {
                    input {
                      display: none;
                    }

                    span:before {
                      content: "";
                      display: inline-block;
                      width: 12px;
                      height: 12px;
                      border: 2px solid #333348;
                      background-color: #ECECEC;
                      margin-right: 19px;
                      top: 2px;
                      position: relative;
                    }

                    input:checked + span:before {
                      border-color: #f00;
                      background-color: #f00;
                      animation: radioEffect 250ms ease-in;
                    }

                    &.radio-inline {
                      display: inline-block;
                      margin-right: 19px;

                      span:before {
                        margin-right: 8px;
                      }
                    }
                  }
                }

                > .title {
                  display: block;
                  color: #f00;
                  padding: 0;
                  margin-bottom: 22px;
                }

                > .short-desc {
                  margin-top: -13px;
                  margin-bottom: 24px;
                }
              }

              .input-group {
                color: #333348;
                width: 97px;
                height: 25px;

                .input-group-addon {
                  width: 25px;
                  padding: 0;
                  border-radius: 0;
                  border: 1px solid #333348;
                  font-size: 20px;

                  &:first-child {
                    border-right: none;
                  }

                  &:last-child {
                    border-left: none;
                  }
                }

                .form-control {
                  text-align: center;
                  height: 25px;
                  border: 1px solid #333348;
                  box-shadow: none;
                  color: #333348;
                }
              }
            }

            .row.field-information {
              margin-left: -4px;
              margin-right: -4px;

              [class*="col"] {
                padding-left: 4px;
                padding-right: 4px;
              }

              > div {
                margin-bottom: 10px;
              }

              .form-control {
                border: 1px solid #333348;
                border-radius: 0;
                font-size: 12px;
                padding: 4px 10px;
                color: #333348;
                box-shadow: none;
                background-color: transparent;

                &:not(textarea) {
                  height: 25px;
                }

                &::placeholder {
                  color: #333348;
                  opacity: .5;
                }
              }
            }
          }

          @media (min-width: 768px) {
            fieldset {
              margin-top: 60.8px;

              > .row {
                .form-group {
                  > .title {
                    font-size: 23px;
                    margin-bottom: 12px;

                    + p {
                      font-size: 16px;
                      line-height: 38px;
                      margin-top: -12px;
                      margin-bottom: 12px;
                    }
                  }

                  > label {
                    font-size: 16px;
                    line-height: 38px;

                    &.radio {
                      span:before {
                        width: 13px;
                        height: 13px;
                        margin-right: 12px;
                      }
                    }
                  }
                }
              }
            }
          }

          @media (min-width: 1025px) {
            fieldset {
              margin: 36px 0;
              padding: 0;
              float: left;
              position: relative;
              width: 100%;
              height: initial;

              legend {
                font-size: 36px;
                font-weight: 500;
              }

              > .row {
                margin-top: 22px;
                font-size: 19px;
                position: relative;

                .form-group {
                  > p,
                  > label {
                    display: block;
                    padding: 6px 0;
                    margin: 0;

                    &.radio {
                      input {
                        display: none;
                      }

                      span:before {
                        content: "";
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        border: 2px solid #333348;
                        background-color: #ECECEC;
                        margin-right: 8px;
                      }

                      input:checked + span:before {
                        border-color: #f00;
                        background-color: #f00;
                        animation: radioEffect 250ms ease-in;
                      }
                    }
                  }

                  > .title {
                    color: #f00;
                  }
                }
              }
            }
          }
        }

        .actions {
          @include container;
          margin-top: 20px;
          margin-bottom: 15px;

          li {
            margin: 0;

            a {
              background-color: #333348;
              border-radius: 0;
              color: #fff;
              margin-left: 5px;
              text-align: center;
              min-width: 75px;
              height: 28px;
              padding: 10px 0;
              font-size: 12px;
              line-height: 7px;
            }

            &.disabled {
              a {
                opacity: 0.8;
              }
            }
          }

          @media (min-width: 768px) {
            margin-top: 31.6px;

            li {
              a {
                min-width: 130px;
                height: 45.63px;
                margin-left: 15px;
                line-height: 11px;
                font-size: 16px;
                padding: 17px 0;
              }
            }
          }

          @media (min-width: 1025px) {
            text-align: right;
            position: absolute;
            right: 0;
            bottom: -45px;

            li {
              a {
                background-color: #f00;
                min-width: 161px;
                height: 58px;
                font-size: 19px;
                padding: 24px 10px;
                margin-left: 14px;
              }

              &.disabled {
                a {
                  background-color: #333348;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}
