@import 'mixin';

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: 1921px){
    font-size: 18px;
  }
}

a, a:hover {
  text-decoration: none;
}

.animated.faster {
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
}

#page-inner {
  .page-header,
  .page-content {
    font-family: 'Ubuntu', sans-serif;
    color: #333348;
    border: none;

    .container {
      width: 100%;
      max-width: 100%;
      @include container;
    }
  }

  .page-header {
    position: relative;
    background-color: #FF0000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    overflow: hidden;
    height: 116px;
    margin: 50px 0 0;
    padding: 0;

    .entry-title {
      position: absolute;
      font-weight: bold;
      color: #fff;
      font-size: 54px;
      line-height: 1;
      bottom: -8px;
      letter-spacing: -2px;
    }

    @media (min-width: 375px) {
      .entry-title {
        font-size: 64px;
        bottom: -9px;
      }
    }

    @media (min-width: 768px) {
      height: 235px;
      margin-top: 60px;

      .entry-title {
        font-size: 134px;
        bottom: -20px;
        letter-spacing: -5px;
      }
    }

    @media (min-width: 1025px) {
      height: 270px;
      margin-top: 0;
      clear: both;

      .entry-title {
        font-size: 161px;
        bottom: -24px;
      }
    }

    @media (min-width: 1366px) {
      height: 290px;

      .entry-title {
        font-size: 173px;
        bottom: -26px;
      }
    }

    @media (min-width: 1920px) {
      height: 405px;

      .entry-title {
        font-size: 244px;
        bottom: -37px;
      }
    }

    @media (min-width: 2560px) {
      height: 450px;

      .entry-title {
        font-size: 324px;
        bottom: -47px;
      }
    }
  }

  .page-content {
    .headline {
      color: #f00;
    }

    .headline,
    .description {
      font-size: 16px;
      line-height: 18px;
    }

    .btn-wrapper {
      margin-top: 20px;

      .btn {
        text-align: center;
        border-radius: 0;
        color: #fff;
        font-size: 12px;
        margin-bottom: 10px;

        &.btn-explore {
          background-color: #333348;
        }

        &.btn-contact {
          background-color: #f00;
        }
      }
    }

    @media (min-width: 768px) {
      margin-top: 55px;

      .headline,
      .description {
        font-size: 26px;
        line-height: 30px;
      }

      .btn-wrapper {
        margin-top: 29px;
        display: inline-block;
        width: 100%;

        .btn {
          font-size: 16px;
          padding: 16px;
        }
      }
    }

    @media (min-width: 1025px) {
      margin-top: 57px;

      .headline,
      .description {
        font-size: 36px;
        line-height: 42px;
      }
    }

    @media (min-width: 1280px) {
      .btn-wrapper {
        margin-top: 79px;

        .btn {
          height: 80px;
          font-size: 23px;
          padding: 24px 0;
        }
      }
    }

    @media (min-width: 1920px) {
      margin-top: 80px;

      .headline {
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 0;
      }

      .description {
        font-size: 42px;
        line-height: 50px;
        margin: 0;
        width: 70%;
      }
    }
  }
}
