@mixin container {
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: 768px) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: 1025px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: 1280px) {
    padding-left: 120px;
    padding-right: 120px;
  }

  @media (min-width: 1920px) {
    padding-left: 200px;
    padding-right: 200px;
  }

  @media (min-width: 2560px) {
    padding-left: 355px;
    padding-right: 355px;
  }
}

@mixin container-margin {
  margin-left: 25px;
  margin-right: 25px;

  @media (min-width: 768px) {
    margin-left: 70px;
    margin-right: 70px;
  }

  @media (min-width: 1025px) {
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (min-width: 1280px) {
    margin-left: 120px;
    margin-right: 120px;
  }

  @media (min-width: 1920px) {
    margin-left: 200px;
    margin-right: 200px;
  }

  @media (min-width: 2560px) {
    margin-left: 355px;
    margin-right: 355px;
  }
}

@mixin scrollable {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}
