@import 'site-branding';

header#masthead {
  background: #ffffff;
  position: fixed;
  width: 100%;
  height: 50px;
  transition: .5s;
  z-index: 99999;

  @media (min-width: 768px) {
    height: 60px;
  }

  @media (min-width: 1025px) {
    position: relative;
    padding-top: 15px;
    padding-bottom: 5px;
    height: initial;
    // overflow: hidden;

    &.sticky {
      padding-top: 0;
      padding-bottom: 0;
      position: fixed;
      width: 100%;
      border-bottom: 1px solid #ececec;

      + .site-content #page-inner .page-header {
        margin-top: 63px;
      }
    }
  }

  @media (min-width: 1280px) {
    height: 100px;

    &.sticky {
      height: 83px;

      + .site-content #page-inner .page-header {
        margin-top: 83px;
      }
    }
  }

  .container {
    max-width: 100%;
    width: 100%;
    padding: 0 25px;

    @media (min-width: 1025px) {
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    }

    @media (min-width: 1280px) {
      padding-left: 120px;
      padding-right: 120px;
    }

    @media (min-width: 1920px) {
      padding-left: 200px;
      padding-right: 200px;
    }
  }

  ~ #content {
    margin-top: 50px;

    @media (min-width: 768px) {
      margin-top: 60px;
      margin-bottom: -95px;
    }

    @media (min-width: 834px) {
      margin-bottom: -124px;
    }

    @media (min-width: 1025px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  @media (min-width: 1025px) {
    .slot-book,
    .lang-switch {
      float: right;
      padding-top: 1px;
      transition: 300ms;

      a {
        font-size: 12px;

        @media (min-width: 1920px) {
          font-size: 14px;
        }
      }
    }

    .lang-switch {
      margin-right: 20px;
    }

    &.sticky {
      .slot-book,
      .lang-switch {
        padding-top: 9px;
      }
    }
  }

  @media (min-width: 1280px) {
    .slot-book,
    .lang-switch {
      line-height: 66px;
    }

    &.sticky {
      .slot-book,
      .lang-switch {
        padding-top: 20px;
      }
    }

    .lang-switch {
      span {
        font-weight: 500;
        font-size: 12px;
        padding: 0 3px;
      }
    }
  }

  @media (min-width: 1920px) {
    .lang-switch {
      margin-right: 35px;

      span {
        font-size: 14px;
        padding: 0 5px;
      }
    }
  }
}

nav#site-navigation {
  @media (min-width: 1025px) {
    position: initial;
  }

  ul {
    li {
      padding: 0 10px;

      &:first-child {
        padding-left: 0;
      }

      a {
        font-size: 12px;
        transition: 300ms;
      }

      @media (min-width: 1025px) {
        float: left;
        line-height: 1;
        padding: 0;

        > a {
          display: block;
          padding: 24px 5px 22px;
        }
      }

      @media (min-width: 1120px) {
        > a {
          padding: 24px 10px 22px;
        }
      }

      @media (min-width: 1280px) {
        a {
          font-size: 14px;
          padding: 28px 12px;
          height: initial;

          .sticky & {
            padding: 34px 12px;
          }
        }
      }

      @media (min-width: 1366px) {
        a {
          padding: 28px 14px;

          .sticky & {
            padding: 34px 14px;
          }
        }
      }

      @media (min-width: 1920px) {
        a {
          padding: 28px 20px;

          .sticky & {
            padding: 34px 20px;
          }
        }
      }
    }

    ul {
      &.sub-menu {
        display: none;
        text-transform: initial;
      }

      @media (min-width: 1025px) {
        li {
          float: none;
          text-align: left;
        }
      }
    }

    &#mobile-primary-menu,
    &#primary-menu {
      @media (min-width: 1025px) {
        display: inline-block;

        > li {
          float: left !important;

          > ul.sub-menu {
            position: absolute;
            animation: fadeInDown 300ms ease-in-out;
            border-top: 15px solid #fff;
            background-color: #ebebed;
            width: 100%;
            left: 0;
            padding-bottom: 18px;
            @include container;

            > li {
              float: left;
              width: 25%;

              &:last-child {
                width: 50%;
              }

              > a {
                color: #f00;
                font-weight: bold;
                font-size: 16px;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 20px;
              }

              &.description {
                > span {
                  font-size: 23px;
                  font-weight: 500;
                  border-left: 5px solid #f00;
                  display: block;
                  padding-left: 10px;
                  margin-top: 73px;
                  color: #f00;
                }
              }

              > ul.sub-menu {
                > li > a:before {
                  content: "›";
                  display: inline-block;
                  font-size: 22px;
                  font-weight: bold;
                  margin-right: 10px;
                  color: #f00;
                }
              }

              ul.sub-menu {
                li > a {
                  padding: 8px 0;
                }

                ul.sub-menu {
                  padding-left: 16px;

                  > li > a:before {
                    content: "-";
                    display: inline-block;
                    font-size: 22px;
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }

        > li:hover {
          > a {
            color: #f00;
            transition: color 300ms ease;
          }

          ul.sub-menu {
            display: block;
          }
        }

        &:after {
          content: "";
          clear: both;
          display: block;
        }
      }
    }
  }

  .mobile-navigation {
    display: none;
    position: relative;

    @media (max-width: 1024px) {
      display: block;
    }
  }

  @media (max-width: 1024px) {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    .menu-main-menu-container {
      position: relative;
    }

    #mobile-primary-menu,
    #primary-menu {
      display: none;
      margin-top: 60px;
      background-color: #ececec;
      padding-top: 60px;
      line-height: 1;
      text-align: left;

      * {
        line-height: 1;
      }

      li {
        display: block;
        padding: 0;
        position: relative;

        a {
          display: block;
          height: 45px;
          padding: 15px 0;
          margin: 0 25px;
          font-size: 14px;
          color: #333348;
          font-weight: 400;
          border-top: 1px solid #333348;
        }

        &:last-child {
          > a {
            border-bottom: 1px solid #333348;
          }
        }

        &.menu-item-has-children {
          &:after {
            content: "›";
            color: red;
            position: absolute;
            right: 25px;
            font-size: 40px;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
            width: 26px;
            text-align: center;
            height: 100%;
          }
        }
      }

      ul.sub-menu {
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: #ececec;
        height: 100%;

        &.fixed {
          position: fixed;
          padding-top: 15px;
          z-index: 2;

          &.animated {
            animation-fill-mode: unset;
          }
        }

        .sub-heading {
          > a {
            border-top: none;
            text-align: center;
            color: #ff0000;
            font-weight: 900;
          }

          &:before {
            content: "‹";
            color: red;
            position: absolute;
            left: 25px;
            font-size: 40px;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
            width: 26px;
            text-align: center;
            height: 100%;
          }
        }
      }

      .description {
        display: none;
      }
    }

    .hamburger {
      width: 22px;
      height: 22px;
      display: block;
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      &:before,
      &:after {
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: 22px;
        background: #333348;
        left: 0;
        margin-top: 3px;
        transition: .4s;
        transform: rotate(0);
      }

      &:after {
        bottom: 4px;
      }

      &.active:before,
      &.active:after {
        bottom: 10px;
        transition: .6s;
      }

      &.active:before {
        transform: rotate(-45deg);
      }

      &.active:after {
        transform: rotate(45deg);
      }

      span {
        display: block;
        background: #333348;
        height: 3px;
        margin-top: 9px;
      }

      &.active {
        span {
          display: none;
        }
      }
    }

    .slot-book,
    .lang-switch {
      line-height: 55px !important;
      z-index: 5;
      display: block;
      position: absolute;
      bottom: 70px;
    }

    .slot-book {
      left: 25px;

      img {
        vertical-align: text-bottom;
      }
    }

    .lang-switch {
      right: 25px;
    }
  }

  @media (max-width: 767px) {
    #mobile-primary-menu,
    #primary-menu {
      margin-top: 46px;
    }
  }
}

.mean-container {
  .mean-bar {
    background: none;
    position: fixed;
    height: 46px;
    padding: 0;

    @media (min-width: 768px) {
      height: 60px;
    }

    a.meanmenu-reveal {
      right: 25px !important;
      top: 50%;
      transform: translateY(-50%);

      &:not(.meanclose) ~ .mean-nav {
        .lang-switch,
        .slot-book {
          display: none;
        }
      }
    }
  }

  .mean-nav {
    position: relative;
    float: left;
    width: 100%;
    background: #ececec;
    margin-top: 46px;

    @media (min-width: 768px) {
      margin-top: 60px;
    }

    ul li {
      &.mean-active {
        position: absolute;
        width: 100%;
        height: 83%;
        top: 0px;
        padding-top: 16px;
        background-color: #ececec;
        z-index: 3;

        > a.open {
          border-top: none;
        }

        > a.mean-expand {
          line-height: 70px;
        }
      }

      a {
        padding-top: 15px;
        padding-bottom: 15px;

        @media (min-width: 768px) {
          padding-top: 18px;
          padding-bottom: 18px;

          &.mean-expand {
            line-height: 45px;
          }
        }
      }

      li a {
        opacity: 1;
        filter: alpha(opacity=100);
      }

      li li li a {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
      }
    }

    .lang-switch, .slot-book {
      position: absolute;
      bottom: 20px;
      transition: linear .2s ease-in;
    }

    .lang-switch {
      right: 25px;
    }

    .slot-book {
      left: 25px;
    }
  }
}
