.site-branding img.custom-logo {
  @media (min-width: 768px) {
    margin-top: 10px;
  }

  @media (min-width: 1025px) {
    transition: 300ms;

    .sticky & {
      margin-top: 14px;
      height: 30px;
    }
  }

  @media (min-width: 1280px) {
    height: 30px;
    margin-top: 20px;

    .sticky & {
      height: 25px;
      margin-top: 28px;
    }
  }

  @media (min-width: 1920px) {
    height: 40px;
    margin-top: 14px;

    .sticky & {
      height: 30px;
      margin-top: 24px;
    }
  }

  @media (max-width: 1024px) {
    height: 25px;
    margin-top: 16px;
  }

  @media (max-width: 425px) {
    height: 18px;
    margin-top: 14px;
  }
}
