#timeline {
  position: relative;
  display: table; //*For Firefox
  height: 100%;

  > div {
    &:after {
      content: '';
      width: 2px;
      position: absolute;
      top: 7px;
      bottom: 0;
      left: 60px;
      z-index: 1;
      background: #333348;
    }
  }
  h3 {
    position: sticky;
    top: 2px;
    color: #f00;
    margin: 0;
  }
  section.year {
    position: relative;

    section {
      position: relative;
      margin-bottom: 2.2em;
      font-size: 12px;
      line-height: 16px;

      h4 {
        position: absolute;
        top: 0;
        line-height: 1.2em;
        margin: 0;
        padding: 0 0 0 83px;
        color: #f00;
        opacity: 0.5;
      }

      ul {
        list-style-type: none;
        padding: 18px 0 0 75px;
        margin: -1rem 0 1em;
        max-width: 32rem;
        font-size: 1em;
        &:last-child {
          margin: {
            bottom: 0;
          }
        }
        &:first-of-type:after {
          content: '';
          width: 6px;
          height: 6px;
          background: #333348;
          position: absolute;
          left: 58px;
          top: 5px;
          z-index: 2;
        }
        li {
          opacity: 0.5;
          margin-left: .5rem;
          &:not(:first-child) {
            margin-top: .5rem;
          }
          span.price {
            color: mediumturquoise;
            font-weight: 500;
          }
        }
      }

      &.active {
        font-size: 16px;
        line-height: 18px;

        h4 {
          opacity: 1;
        }

        ul {
          padding-top: 25px;

          li {
            opacity: 1;
          }

          &:first-of-type:after {
            width: 14px;
            height: 14px;
            background-color: #f00;
            left: 54px;
            top: 3px;
          }
        }
      }
    }
  }

  .proof {
    display: none;
  }

  @media (min-width: 768px) {
    div:after {
      left: 100px;
      top: 12px;
    }

    h3 {
      font-size: 21px;
      top: 10px;
    }

    section.year {
      section {
        font-size: 16px;
        line-height: 20px;

        h4,
        ul {
          padding-left: 153px;
        }

        ul {
          &:first-of-type:after {
            width: 7px;
            height: 7px;
            left: 98px;
            top: 7px;
          }

          li {
            margin-left: 0;
          }
        }

        &.active {
          font-size: 21px;
          line-height: 26px;

          h4 {
            font-size: 34px;
            line-height: 1;
          }

          ul {
            padding-top: 36px;

            &:first-of-type:after {
              left: 94px;
              top: 10px;
            }
          }
        }
      }
    }

    .proof {
      display: block;
      padding-left: 153px;

      .img-responsive {
        max-width: 230px;
      }
    }
  }

  @media (min-width: 1024px) {
    .proof {
      .img-responsive {
        max-width: 252px;
      }
    }
  }

  @media (min-width: 1025px) {
    width: 100%;

    .proof {
      display: none;
    }

    section.active .proof {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      padding: 0;

      .img-responsive {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
